<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="index-page"><h2 id="ui">UI</h2>
<p>W20 UI adds a Bootstrap-based user interface solution to the core.
It provides multiple features to quickly and efficiently build your own UI:</p>
<ul>
<li>Bootstrap and UI-Bootstrap integration,</li>
<li>Navigation services (navigation tree, bookmarks, menus, ...)</li>
<li>Notifications,</li>
<li>Data grid component,</li>
<li>Select component,</li>
<li>Layout and display services.</li>
</ul>
</div></div>
